rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public write access to the "uploads" folder
    match /uploads/{allPaths=**} {
      allow write: if true;
    }
  }
}
